@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

body {
    background-color: black;
    color: white;
    font-family: Poppins;
}

h1 {
    font-weight: 700;
    font-size: 200;
    font-style: bold;
    color: white
}

h2 {
    font-weight: 300;
    font-style: light;
    color: rgb(255, 120, 0);;
}

p {
    font-weight: 300;
    font-style: light;
}

input, textarea {
    width: 100%;
    height: 30px;
    display: block;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    border-radius: 10px;
    width: 5%;
    height: 50px;
}

button:hover {
  color: white;
    background-color: rgb(255, 120, 0 );
}


input,textarea:hover {
    color: rgb(255, 120, 0 )
}

section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
}

section div:first-child {
    width: 60%;
}

section div:nth-child(2) {
    width: 40%;
    margin-right: 300px;
    margin-top: 70px;
}

img, video {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container form{
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container{
    display: inline-block;
  }
  .animation{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: 
    typing 8s steps(60, end) forwards;
    font-size: 1.6rem;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@media (max-width: 768px) {

    header {
        flex-direction: column;
        justify-content: left;
    }

    section{
        width: 100%;
        flex-direction:column;
    }

    section div:first-child{
        text-align: center;
        width: 100%;
       
    }

    section div:nth-child(2) {
    width: 100%;
}

    img {
        width: 80%;
    }

    nav {
        flex-direction:column;
    }

}